.status-blue {
  color: #2E6DC1;
}
.status-red {
  color: #ED2C50;
}
.status-dark-gray {
  color: #666666;
}
.status-light-gray {
  color: #cccccc;
}
.status-green {
  color: #00BB4A;
}
.status-yellow {
  color: #F6E015;
}
.notactive {
  color: #CCC;
}
.warning-red {
  color: #D41337;
}
.warning-orange {
  color: #f9733f;
}
.ootel {
  color: #2E6DC1;
}
.mustand {
  color: #5e5e5e;
}
td.table-light-text {
  color: #666;
}
body {
  background-color: #F1F4F8;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -192px;
  /* the bottom margin is the negative value of the footer's height */
}
.footer,
.push {
  height: 192px;
  /* .push must be the same height as .footer */
}
.sticky-studderfix {
  height: 38px;
}
a {
  color: #3A75C4;
  text-decoration: none;
}
.navbar {
  background-color: #fff;
  border-bottom: 1.3px solid #ccc;
  box-shadow: 0px 1px 6px #d4d4d4;
  border-radius: 0px;
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-nav a:hover {
  background-color: inherit !important;
}
.navbar-nav .active {
  font-weight: 700;
}
.navbar-nav .icons {
  margin-top: 13px;
}
.navbar-nav .icons .pull-left,
.navbar-nav .icons .pull-right {
  position: relative;
  margin-right: 12px;
}
.navbar-nav .icons .count {
  position: absolute;
  top: -4px;
  color: #D41337;
  font-size: 11px;
  font-weight: 500;
  right: -10px;
}
.nav .open > a,
.nav .open > li > a:focus,
.nav > li > a:hover {
  background-color: #fff;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #fff;
}
.nav > li > a:focus,
.nav > li.nav > li > a:focus {
  background-color: inherit;
}
.wdivider + .wdivider {
  background: url(../img/menu-divider.svg) left no-repeat;
  background-size: 2.9px;
}
.wdivider > .selected-menuitem {
  height: 17px;
  width: 62px;
  position: absolute;
  top: 50px;
  left: 0px;
}
.breadcrumb {
  background-color: inherit;
  padding: 8px 0px;
  font-size: 14px;
  margin-top: -25px;
}
.breadcrumb > .active {
  color: #2C3642;
}
.breadcrumb li {
  font-size: inherit;
}
.breadcrumb li + li:before {
  padding: 0 5px;
  color: #2C3642;
  content: "/\00a0";
}
.panel {
  border-radius: 0px;
}
.makewider {
  min-width: 1528px;
}
.panel-body.more-padding {
  padding: 30px 35px 0px 35px;
}
.panel-body.more-padding.v2 {
  padding: 20px 30px 30px 30px;
}
.panel-default {
  border-color: #ebebeb;
}
.btn {
  padding: 6px 20px;
}
.btn-primary {
  border-bottom: 4px solid #144f9e;
  border-color: #144f9e;
  background-color: #3A75C4;
  color: #fff;
  text-shadow: 1px 1px 5px #4c4c4c;
  font-weight: 500;
  padding: 4px 20px;
}
.btn-primary .icon-id-logo.minus-margin {
  margin-left: -10px;
}
.btn-primary.slim {
  font-size: 14px;
  font-weight: normal;
  height: 100%;
  padding: 0px 18px;
  border-bottom: 1px solid #144f9e;
}
.btn-primary.slim.id {
  padding: 0px 7px;
}
.btn-primary.slim .icon-id-logo {
  padding-right: 2px;
}
.btn-light {
  border-bottom: 4px solid #cccccc;
  border-color: #cccccc;
  color: #3A75C4;
  font-weight: 500;
  padding: 4px 20px;
  background-color: #fff;
}
@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}
.spaceforicons {
  display: inline-block;
  padding: 0px 20px;
}
.spaceforicons.medium {
  padding: 0px 15px;
}
.spaceforicons.small {
  padding: 0 3px;
}
.spaceforicons.single-icon {
  padding: 0 26px;
}
.spacetop {
  margin-top: 20px;
}
.nolabel-space {
  padding-left: 184px;
}
.col-xs-2-cus {
  width: 13.666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}
.col-xs-3-cus {
  width: 21%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}
.col-xs-4-cus {
  width: 29%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}
.col-xs-1-cus {
  width: 11.666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}
.col-xs-4.fixedwidth {
  width: 526px;
}
td.largewidth {
  width: 74%;
}
td.sub-row-pulltop {
  padding: 0px 0px 3px 32px !important;
}
td.sub-row-pulltop td:first-child {
  width: 73.5%;
}
td .fa-circle {
  padding-right: 5px;
}
td .fa.fa-comment-o {
  font-size: 16px;
}
td .fa.dragme {
  padding-right: 30px;
  font-size: 16px;
  pointer-events: none;
}
td .expand-title {
  font-weight: 500;
}
.dragme {
  color: #3A75C4;
  cursor: pointer;
}
.ui-sortable-helper {
  background-color: #fff;
}
.ui-state-highlight {
  border: 1px solid #3A75C4 !important;
}
.disableclick {
  pointer-events: none;
}
th.hold-text-top {
  vertical-align: top;
}
th.hold-text-top.sortable-pos {
  background-position: top left!important;
  background-position-y: 7px!important;
}
th.hold-text-top .fa-question-circle {
  position: absolute;
  right: 7px;
}
th.mediumwidth {
  width: 25%;
}
.expand-body .sinised-ikoonid {
  width: 132px;
}
a.paginate_button {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
a.paginate_button.current {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #ddd;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 3px 10px;
}
tbody.no-bottom-and-top-border tr > td {
  border-top: none;
  border-bottom: none;
}
tbody.calendar-element-rows tr > td {
  padding: 6px;
}
tbody.moreheight tr > td {
  height: 51px;
}
tbody.duo-color tr > td:first-of-type {
  background-color: #e7f2f9;
}
tbody.duo-color tr > td:last-of-type {
  min-height: 20%;
  background-color: #fff;
}
.icon-table-expand {
  color: #2e6dc1;
}
.icon-table-expand.inline {
  display: inline-block;
}
.icon-table-expand.table-small {
  position: absolute;
  left: 6px;
  font-size: 11px;
  margin-top: 2px;
}
.inline-block {
  display: inline-block;
}
.rotate90 {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.rotate90.minus {
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.rotate90f {
  -ms-transform: rotate(90deg) !important;
  /* IE 9 */
  -webkit-transform: rotate(90deg) !important;
  /* Chrome, Safari, Opera */
  transform: rotate(90deg) !important;
}
.rotate270 {
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}
.rotate180 {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.show-hidden {
  display: block;
}
h3,
.h3 {
  font-size: 25px;
}
h3 small,
.h3 small {
  font-size: 15px;
}
h3 small .fa-circle,
.h3 small .fa-circle {
  font-size: 19px;
}
h3 small.darknumbers,
.h3 small.darknumbers {
  color: inherit;
  padding-left: 15px;
}
h3 .icon-padding,
.h3 .icon-padding {
  padding-left: 10px;
}
h3 .fa-question-circle,
.h3 .fa-question-circle {
  color: #000;
  font-size: 19px;
  padding-left: 5px;
}
.sinised-ikoonid > .fa:hover {
  color: #003A8E;
}
.sinised-ikoonid {
  color: #2E6DC1;
}
.sinised-ikoonid.fixedwidth {
  width: 86px;
}
.sinised-ikoonid.smallwidth {
  width: 81px;
}
.clickable {
  cursor: pointer;
}
.container-max1630 {
  max-width: 1630px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.width1280 {
  min-width: 1280px;
}
.width1280.navbar {
  margin: 0 auto;
}
.width1280 ul.navbar-nav {
  text-align: left;
}
.width1280 .container-max1630 {
  /*
    padding: 0 30px;
    */
}
.width1280 .container-max1630 ul.nav > li:first-of-type a {
  padding-left: 0px;
}
.width1280 .container-max1630 ul.nav > li.last a {
  padding-right: 0px;
}
.minwidth {
  min-width: 1280px;
}
.minwidth-2 {
  min-width: 1530px;
}
.col-xs-2-cus .form-group {
  width: 100%;
}
.col-xs-2-cus .form-control {
  width: 100%;
}
.form-control.fornumbers {
  width: 45px;
}
.form-control.spaceforicon {
  width: 94%;
}
.form-control.smallwidth-2 {
  width: 80px;
}
.form-control.smallwidth-2.margin-right {
  margin-right: 5px;
}
.form-control.smallwidth-3 {
  width: 118px;
}
.form-control.largewidth {
  width: 1046px;
}
.form-control.fullwidth {
  width: 100%;
  float: left;
}
.form-control.fitwithicon {
  width: 320px;
}
.form-control.mediumwidth2 {
  width: 365px;
}
.form-control.mediumwidth5 {
  width: 136px;
}
.form-control.mediumwidth3 {
  width: 250px;
}
.form-control.mediumwidth-4 {
  width: 221px;
}
.form-control.fixedwidth.small {
  width: 105px;
}
.form-control.fixedwidth.margin-right {
  margin-right: 10px;
}
.fullwidth {
  width: 100%;
}
.pagination {
  margin: 0;
}
.cell-error {
  background-color: #ffebef;
}
tr.no-top-border td {
  border-top: none!important;
}
tr.no-border {
  border-top: none;
  border-bottom: none;
}
tr.no-border-bottom-2 {
  border-bottom: none!important;
}
tr.no-border-bottom th {
  border-bottom: none !important;
}
tr.gray-border-bottom {
  border-bottom: 2px solid #eef1f5;
}
tr.even.white {
  background-color: #fff;
}
tr .sub-row td {
  border-top: 1px solid #eef1f5 !important;
}
tr.softpink {
  background-color: #ffebef !important;
}
tr.softyellow {
  background-color: #ffffe0 !important;
}
tr.softpink,
tr.softyellow {
  border-bottom: 1px solid #FFF !important;
}
tr.sub-row-box {
  background-color: #eef1f5 !important;
}
tr.sub-row-box table {
  background-color: #fff !important;
  margin: 5px 0 !important;
  padding: 0 18px !important;
  margin-top: 0px !important;
}
tr.sub-row-box td:first-of-type {
  padding-top: 0px;
}
tr.sub-row-box td .col1 {
  width: 30%;
}
tr.sub-row-box td .col2 {
  width: 6%;
}
tr.sub-row-box td .col3 {
  width: 5.5%;
}
tr.sub-row-box td .col4 {
  width: 11.5%;
}
tr.sub-row-box td .col5 {
  width: 11.4%;
}
tr.sub-row-box td .col6 {
  width: 13.7%;
}
tr.sub-row-box tr.showlast {
  height: 28px;
}
tr.sub-row-box tr.showlast td {
  position: absolute;
  left: 31.5%;
  margin-bottom: 0px;
  padding-bottom: 7px;
}
tr.sub-row-box tr.showlast a {
  background-color: #eef1f5;
  padding: 4px 14px;
  border-radius: 4px;
  position: relative;
  bottom: -8px;
}
.expand-text {
  padding-left: 11px;
  padding-right: 20px;
}
.sub-row .expand-text {
  padding-left: 119px;
}
.btn.uniqmargin {
  margin: 3px 0px 30px 168px;
}
thead.lesspadding tr > th {
  padding: 4px 18px!important;
}
thead.lesspadding2 tr > th {
  padding: 4px 9px!important;
}
thead.bottom-border tr > th {
  border-bottom: 1px solid #ddd!important;
}
thead.invisible tr th {
  border: 1px solid transparent;
  border-bottom: 1px solid #ddd;
}
thead.invisiblef {
  display: block;
  height: 1px;
}
thead.invisiblef tr th {
  border: 1px solid transparent;
}
thead.fix-head {
  position: fixed;
  background-color: #dae5ec;
  width: 96%;
  display: inherit;
  top: 0;
  max-width: 1568px;
}
thead.fix-head th {
  border-bottom: none;
}
table.padding-left thead > tr > th:first-child {
  padding-left: 40px !important;
}
table.padding-left tr > td:first-child {
  padding-left: 40px !important;
}
/*Kui teksti on liiga palju ja ei mahu tabelisse ära siis pane 3 punkti lõppu*/
table.dataTable tbody th td.withlink,
table.dataTable tbody td.withlink {
  max-width: 458px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color: #3A75C4;
}
table.dataTable tbody th td.withlink:hover,
table.dataTable tbody td.withlink:hover {
  text-decoration: underline;
}
table.calendar thead {
  background-color: #fff;
}
table.calendar thead tr > th {
  font-weight: normal;
  width: 7%;
  padding: 7px 14px;
  border: none;
}
table.calendar tbody td {
  background-color: #fff;
}
table.calendar tbody td.transp {
  background-color: transparent;
  color: #5e7184;
}
table.calendar tbody td.highlight {
  background-color: #eefff2;
}
table.calendar tbody tr > td:nth-last-child(-n+2) {
  background-color: #f0ffff;
}
table.calendar .holder {
  min-height: 69px;
  padding: 7px 14px;
}
table.calendar .holder .statusico {
  float: right;
  font-size: 20px;
}
table.calendar .event {
  float: left;
  font-size: 14px;
  margin-left: -3px;
  padding-top: 5px;
}
table.calendar .event .icon-table-expand {
  font-size: 11px;
  vertical-align: text-bottom;
}
table.with-errors td .row-error-icon {
  float: left;
  color: #D41337;
  margin-top: 9px;
}
table.with-errors td .col-xs-4 {
  padding-right: 0px;
  padding-left: 0px;
}
table.with-errors td .col-xs-4:last-of-type {
  padding-right: inherit;
}
table.with-errors td .col-xs-4:first-of-type {
  padding-left: inherit;
}
table.with-errors td .col-xs-4.padding-left {
  padding-left: inherit;
}
table.with-errors td .col-xs-4.padding-right {
  padding-right: inherit;
}
table.with-errors td .form-control {
  float: right;
  width: 97%;
}
table.with-errors td .form-control.narrow {
  width: 93%;
}
table.smallrows {
  width: 100%;
}
table.smallrows th {
  padding: 3px 10px;
}
table.smallrows tbody td {
  padding: 3px 10px;
}
table.smallrows thead > tr > th {
  border-bottom-width: 1px;
}
table.smallrows.padding-left-2 thead > tr > th:first-of-type,
table.smallrows.padding-left-2 tbody > tr > td:first-of-type {
  padding-left: 18px;
}
table.light-gray thead {
  background-color: #f6f8fa;
}
table.light-blue thead {
  background-color: #e7f2f9;
}
table.bottom-border-fix {
  border-collapse: collapse !important;
}
table tbody tr.grayrow {
  background-color: #eef1f5!important;
  border: 1px solid #d9d9d9;
}
table tbody.sub-row tr td:first-of-type {
  padding-left: 47px !important;
}
table tbody.sub-row.lvl2 tr td:first-of-type {
  padding-left: 72px !important;
}
table.col-3 .col-1 {
  padding-left: 30px;
  width: 40%;
  border-right: 0px;
}
table.col-3 .col-2 {
  border-left: 0px;
  width: 6%;
  padding-left: 20px;
}
table.col-3 .col-3 {
  border-left: 0px;
  width: 29%;
  padding-left: 20px;
}
table.col-3 tbody tr td:first-of-type {
  padding: 8px 30px;
}
table.col-3 tbody tr td:last-of-type {
  padding: 8px 20px;
}
table.col-2 .col-1 {
  padding-left: 30px;
  width: 89%;
  border-right: 0px;
}
table.col-2 .col-2 {
  border-left: 0px;
  padding-left: 20px;
}
table.col-2 tbody tr td:first-of-type {
  padding: 8px 30px;
}
table.col-2 tbody tr td:last-of-type {
  padding: 8px 20px;
}
table.col-1 tr > th {
  padding-left: 20px;
}
table.col-1 tbody > tr > td {
  padding: 8px 20px;
}
table.borderless tbody tr:first-of-type td {
  border: none;
}
.borderless {
  border: none;
}
.borderlessf {
  border: none !important;
}
ol li {
  font-size: 0;
}
ol li span {
  font-size: 15px;
  padding: 3px 10px;
}
ol li span .fa-arrows-alt {
  padding-top: 5px;
}
ol.outer {
  padding-left: 10px;
}
ol.outer li {
  font-size: 0;
}
ol.outer li .border-bottom {
  border-bottom: 2px solid #eef1f5;
}
ol.outer li span {
  display: inline-block;
  font-size: 15px;
}
ol.outer li.col-3-list span.col1 {
  width: 74%;
}
ol.outer li.col-3-list span.col2 {
  width: 17.7%;
}
ol.outer li.col-3-list span.col3 {
  width: 7%;
  text-align: right;
}
ol.outer .inner {
  padding-left: 30px;
}
ol.outer .inner .margin-top {
  margin-top: 10px;
}
ol.outer .inner li span.col1 {
  width: 73.5%;
}
ol.outer .inner li span.col2 {
  width: 17.5%;
}
ol.outer .inner li span.col3 {
  width: 8%;
  text-align: right;
  padding-right: 1%;
}
.navbar {
  font-size: 17px;
}
.navbar.makewider {
  min-width: 1543px;
}
.navbar.makewider-2 {
  min-width: 1690px;
}
body,
.form-control {
  font-size: 15px;
}
.form-group.bottom-space {
  margin-bottom: 6px;
}
.form-group .mediumwidth {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 395px;
}
.form-group .mediumwidth-2 {
  width: 280px;
}
.form-group .left-text {
  width: 184px;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}
.form-group .left-text-2 {
  width: 168px;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs.center {
  margin: 0 auto;
  display: table;
}
.nav-tabs > li > a {
  margin-right: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-right: 4px solid #e3e5e6;
  padding: 10px 18px;
}
.nav-tabs > li > a:hover {
  color: #000;
  border: 1px solid #ddd;
  border-right: 4px solid #e3e5e6;
}
.nav-tabs > li > a:focus {
  background-color: #fff;
}
.nav-tabs > li.active > a {
  color: #333;
  font-weight: 500;
  border-right: 4px solid #e3e5e6;
}
.nav-tabs > li.active > a:hover {
  color: #333;
  border-right: 4px solid #e3e5e6;
}
.nav-tabs > li.active > a:focus {
  color: #333;
  border-right: 4px solid #e3e5e6;
}
.add-when-using-tabs {
  position: relative;
  top: -39px;
}
label {
  font-weight: normal;
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 0px;
}
.form-horizontal.fixed-width {
  width: 608px;
}
.form-horizontal.fixed-width.smaller {
  width: 555px;
  margin-right: 49px;
}
.no-padding-left {
  padding-left: 0px !important;
}
.no-padding-right {
  padding-right: 0px !important;
}
.no-padding-top {
  padding-top: 0px !important;
}
.no-margin {
  margin: 0px;
}
textarea.resize-vertical {
  resize: vertical;
}
textarea.resize-vertical-force {
  resize: vertical!important;
}
.overflow-show {
  overflow: visible !important;
}
.no-margin-top {
  margin-top: 0px;
}
.no-margin-bottom {
  margin-bottom: 0px;
}
.large-icon {
  font-size: 29px !important;
  color: #3A75C4;
  padding-top: 2px;
  padding-left: 10px;
}
.large-icon-2 {
  font-size: 25px !important;
}
.alignbuttons {
  width: 135px;
}
.alignbuttons button {
  width: 135px;
  margin-bottom: 12px;
}
.alignbuttons-2 {
  width: 135px;
}
.alignbuttons-2 button {
  width: 192px;
  margin-bottom: 12px;
}
.lang-menu {
  position: absolute;
  left: 700px;
  height: 200px;
  width: 400px;
  display: block;
  background-color: #fff;
  z-index: 2;
  border: 2px solid gray;
}
.tooltip_templates {
  display: none;
}
.theme.gray .nav-tabs > li.active > a,
.theme.gray .nav-tabs > li.active > a:hover,
.theme.gray .nav-tabs > li.active > a:focus {
  background-color: #f6f8fa;
}
.theme.gray .panel-default {
  background-color: #f6f8fa;
}
hr {
  border-top: 1px solid #CCC;
}
hr.smallspacing {
  margin-top: 10px;
  margin-bottom: 10px;
}
hr.makeitfit {
  float: left;
  width: 92%;
  margin-bottom: -20px;
  margin-top: 10px;
}
hr.no-margin-top {
  margin-top: 0!important;
}
.input-group-addon {
  background-color: transparent;
  border: none;
}
.button-spacing {
  display: inline-block;
}
.button-spacing button {
  margin-right: 8px;
}
.panel.transparent {
  background-color: transparent;
}
.panel .gray {
  background-color: #f1f4f8;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.panel .water-blue {
  padding: 0px 35px 10px 20px;
  overflow: hidden;
  background-color: #dae5ec;
  border: 0;
}
.panel .water-blue .panel-content {
  position: relative;
  z-index: 1;
}
.smallicons .fa {
  font-size: 19px !important;
}
.smallicons .fa.smallerandpadding {
  color: #3A75C4;
  padding-right: 15px;
  vertical-align: baseline;
  font-size: 17px !important;
}
.smallicons.alignmiddle .fa {
  vertical-align: middle;
}
.dotdotdot {
  max-width: 458px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shortenlongtext tr td {
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.disallow2rows tr td {
  white-space: nowrap;
}
.modal-xtra-lg {
  width: 940px;
}
.modal-dialog.modal-sm2 {
  width: 600px;
}
.modal-dialog.sm2-flex {
  min-width: 600px;
  max-width: 1500px;
  width: auto;
}
.modal-dialog.sm2-flex .modal-content {
  float: left;
}
.modal-dialog.sm2-flex .scrollarea {
  float: left;
}
.modal-content h5 {
  font-size: 16px;
}
.modal-header {
  padding: 35px;
  border-bottom: none;
}
.modal-body {
  position: relative;
  padding: 0 35px;
}
.modal-body .form-control.smallwidth {
  width: 104px;
}
.modal-body .form-control.smallwidth-3 {
  width: 153px;
}
.modal-body .form-inline.holdinplace {
  position: absolute;
  top: 44px;
  padding-top: 0px;
}
.modal-footer {
  text-align: right;
  border-top: none;
  padding: 40px 35px;
}
@media (min-width: 992px) {
  .modal-lg {
    width: 755px;
  }
  .modal-lg.wider {
    width: 1100px;
  }
}
.btn {
  font-size: 15px;
}
.btn.margin-right {
  margin-right: 14px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-5 {
  margin-right: 5px;
}
.btn.fixedwidth {
  width: 135px;
}
.btn-transparent {
  color: #3A75C4;
  background-color: transparent;
  border: 0px;
  text-shadow: none;
  padding: 0px;
  margin-top: 10px;
  font-weight: 500;
}
.force-center {
  margin: 0 auto;
  display: table;
}
.btn-margin button {
  margin-right: 10px;
}
.forscreenreader {
  display: none;
}
.modal-header .close {
  margin-top: -27px;
  margin-right: -10px;
  font-size: 36px;
}
.dropdown-menu .divider {
  margin: 0 10px;
}
.dropdown-menu.hold-left {
  right: 0;
  left: inherit;
}
.dropdown-menu.tablelistactions {
  z-index: 9999;
}
.dropdown-menu.tablelistactions.dropicon {
  top: 25px;
}
.dropdown-menu.tablelistactions.dropicon .dropico {
  position: absolute;
  height: 17px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: -14px;
  right: 16px;
  height: 14px;
  width: auto;
}
.dropdown-menu.tablelistactions li {
  margin: 4px 0 0;
}
.dropdown-menu.tablelistactions i.fa {
  font-size: 16px;
  padding-right: 5px;
}
.dropdown-menu.tablelistactions a {
  padding: 3px 15px;
  color: #3A75C4;
}
.dropdown-menu.tablelistactions.realign {
  right: -2px;
}
.dropdown-menu.tablelistactions.holdmoreright {
  right: -26px;
}
.dropdown-menu.fortags {
  top: 30px;
  min-width: 140px;
}
.dropdown-menu.fortags .headertext {
  padding: 0px 10px;
  font-size: 15px;
}
.dropdown-menu.fortags li:first-of-type {
  margin-bottom: 5px;
  padding-left: 0px;
}
.dropdown-menu.fortags li {
  font-size: 15px;
  height: 22px;
  padding: 0 10px;
}
.dropdown-menu.fortags li input {
  margin-right: 5px;
}
.dropdown-menu.fortags li.forbutton {
  height: auto;
  margin-top: 10px;
  text-align: center;
}
.alert-danger {
  color: #D41337;
}
.alert-danger-text {
  font-size: 13px;
  color: #D41337;
  width: 100%;
}
.alert-danger-text.withpadding {
  padding-bottom: 20px;
  padding-left: 168px;
  margin-top: -11px;
  float: left;
}
.has-error {
  font-size: 13px;
}
.newrow {
  float: left;
  width: 100%;
}
.alert-danger-2 {
  color: inherit;
  background-color: #ffebef;
  border-color: #D41337;
}
.alert-danger-2 .fa-exclamation-circle {
  color: #D41337;
}
.alert-info-2 {
  color: #3686af;
  background-color: #E3F6FF;
  border-color: #3686af;
}
.alert-info-2 .fa-exclamation-circle {
  color: #1D6D96;
}
input.alert-danger-2,
select.alert-danger-2 {
  color: #D41337;
}
.alert-warning {
  color: inherit;
  background-color: #ffffe0;
  border-color: #fbe51a;
}
.alert-warning .fa-exclamation-triangle {
  color: #ff900b;
}
.veateade-cover {
  position: relative;
  left: -10px;
  float: left;
}
.veateade-cover .fa {
  position: absolute;
  top: 3px;
  color: #D41337;
  right: -1px;
}
.alert {
  padding: 10px 15px;
}
.alert .fa {
  position: relative;
  top: 2px;
  font-size: 20px;
  padding-right: 10px;
}
.alert .sub-items {
  padding-left: 47px;
}
.alert .sub-items p {
  margin: 0px 0 3px;
}
.alert .alert-btn {
  position: relative;
  top: -11px;
}
.fa.medium {
  font-size: 16px;
}
.fa.small {
  font-size: 19px;
}
.fa.hoiatus {
  font-size: 16px;
  color: #f9733f;
}
.fa.fa-circle.bullet {
  font-size: 8px;
  padding-right: 0px;
  position: relative;
  top: -2px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}
.showresults-withpadding {
  font-weight: inherit;
  padding: 0px 18px 0px 29px;
}
th.minwidth {
  min-width: 35px;
}
th.statuswidth {
  width: 96px;
}
.checkbox-margin-right {
  margin-right: 8px !important;
}
.checkbox.padding-left {
  padding-left: 13px;
}
.margin-left-7 {
  margin-left: 7%;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-3p {
  margin-left: 3%;
}
.margin-left-3p.x2 {
  margin-left: 6%;
}
.margin-left-4p {
  margin-left: 4%;
}
.margin-left-168 {
  margin-left: 168px;
}
.menu-avatar {
  height: 30px;
  margin-top: 11px;
}
td .table-warning {
  padding-right: 10px;
}
td.smallwidth {
  width: 6%;
}
td.mediumwidth {
  width: 14%;
}
.translate-width {
  width: 460px;
}
.dashpadding {
  padding: 0 10px;
  position: relative;
  bottom: 5px;
}
.padding-top-11 {
  padding-top: 11px;
}
.padding-right-3p {
  padding-right: 3%;
}
.padding-left-4p {
  padding-left: 4%;
}
.padding-left-8 {
  padding-left: 8px;
}
.padding-left-13 {
  padding-left: 13px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-8 {
  padding-top: 8px;
}
.padding-top-54 {
  padding-top: 54px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-5 {
  padding-right: 5px;
}
.top-padding-20 {
  padding-top: 20px;
}
.top-padding-30 {
  padding-top: 30px;
}
.padding-bottom-7 {
  padding-bottom: 7px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-6 {
  margin-top: 6px;
}
.padding-left {
  padding-left: 15px;
}
.margin-right-3p {
  margin-right: 3%;
}
.padding-left-30 {
  padding-left: 30px;
}
.sorting_disabled {
  padding-left: 10px !important;
}
.whiteeven tr:nth-child(odd) td {
  background-color: #eef1f5;
}
.whiteeven tr:nth-child(even) td {
  background-color: #fff;
}
.widerfirsttd tr > td:first-child {
  width: 45%;
}
.widerfirsttd tr > td:first-child .width90 {
  width: 90%;
}
.tags.small span {
  width: 31px;
  text-align: center;
  padding: 5px 0px;
}
.tags.medium span {
  width: 65px;
  text-align: center;
  padding: 5px 0px;
}
.tags.large span {
  width: 135px;
  text-align: center;
  padding: 5px 0px;
}
.tags span {
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 3px;
  border: 2px solid #ccc;
  display: inline-block;
  margin-bottom: 5px;
}
.no-resize {
  resize: none;
}
.uppercase {
  text-transform: uppercase;
}
.dragclass td,
.dragclass li {
  background-color: #3A75C4 !important;
  color: #fff;
}
.dragclass td .fa,
.dragclass li .fa {
  color: #fff !important;
}
li.ui-sortable-helper {
  background-color: #3A75C4 !important;
  color: #fff;
}
li.ui-sortable-helper .fa {
  color: #fff !important;
}
li.ui-sortable-helper a {
  color: #fff;
}
.ui-sortable-handle button.btn-light {
  margin-left: 39px;
}
.veeruseaded {
  color: #000;
  padding: 7px 16px;
  background-color: #eef1f5;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.veeruseaded:hover {
  outline: none;
}
.veeruseaded .icon-table-expand {
  margin-right: 8px;
}
ul.veeruseaded {
  padding: 0;
  box-shadow: none;
  margin: 0;
  margin-top: -2px;
  border-top: 0;
}
.btn-group.extra-padding button {
  padding: 5px 30px;
}
.veerudrop {
  display: inline-block;
  position: relative;
  margin-right: 18px;
}
.veerudrop:last-of-type {
  margin-right: 0px;
}
.veerudrop.empty {
  width: 180px;
  height: 47px;
}
.veeruseaded-drop {
  display: table-cell;
  background-color: #eef1f5;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.21);
  position: absolute;
  left: -29%;
  top: 96%;
  z-index: 1;
  border: 1px solid #ccc;
  border-top: none;
}
@media (min-width: 1px) {
  .veeruseaded-drop .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}
.veeruseaded-drop .buttons {
  width: 100%;
  float: left;
}
.veeruseaded-drop .buttons .btn {
  padding: 6px 20px;
}
.veeruseaded-drop .buttons button {
  width: 100px;
}
.veeruseaded-drop .input-group-addon {
  background-color: white;
  border: 1px solid #ccc;
  border-right-width: 0px;
}
.veeruseaded-drop #veerulaius {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2px;
}
.veeruseaded-drop .veeru-body {
  width: 215px;
}
.veeruseaded-drop .text-left {
  text-align: left !important;
}
.veeruseaded-drop .colorpick {
  padding: 6px;
  display: block;
  width: 100%;
  height: 34px;
  border-radius: 3px;
  text-align: center;
}
.veeruseaded-drop .colorpick.black {
  background-color: #000;
  color: #fff;
}
.veeruseaded-drop .colorpick.white {
  background-color: #fff;
  border: 1px solid #ccc;
}
.veeruseaded-drop .sub {
  height: 12px;
  width: 25px;
  margin: 4px 0 0;
  border-radius: 3px;
  margin-right: 4px;
  float: left;
  display: inline-block;
}
.veeruseaded-drop .sub:last-child {
  margin-right: 0;
}
.kast-sub {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 18px;
  background-color: #e8f6f6;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.kast-sub .sinised-ikoonid {
  width: 30%;
  display: inline-block;
}
.kast-sub .sinised-ikoonid .fa {
  float: right;
  margin-right: 4px;
}
.kast-sub .sinised-ikoonid .fa.fa-times {
  margin-right: 8px;
}
.kast-sub .body {
  width: 70%;
  word-break: break-all;
}
.visuaal.row {
  margin-bottom: 18px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0;
}
.visuaal.row .veerudrop,
.visuaal.row .vasakkast,
.visuaal.row .kast,
.visuaal.row .katus-frame {
  margin-right: 22px;
}
.visuaal.row .veerudrop,
.visuaal.row .empty,
.visuaal.row .veeruseaded,
.visuaal.row .vasakkast,
.visuaal.row .kast {
  float: left;
}
.visuaal.row .katus-frame {
  width: 335px;
  float: left;
  min-height: 130px;
  display: inline-block;
}
.kast {
  display: inline-block;
  min-height: 130px;
  border: 2px solid #ccc;
  border-radius: 4px;
  min-width: 155px;
  margin-right: 18px;
}
.kast.small {
  min-height: 65px;
  width: 47%;
  margin-right: 6% !important;
}
.kast.small:last-of-type {
  margin-right: 0 !important;
}
.kast .sinised-ikoonid {
  display: block;
  float: left;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  font-size: 15px;
  margin-bottom: 3px;
}
.kast .body {
  width: 100%;
  padding: 0 5px;
}
.kast .body select,
.kast .body .form-group {
  margin-top: 5px;
  float: left;
}
.kast .body input.form-control {
  max-width: 141px;
}
.vasakkast {
  display: inline-block;
  height: 130px;
  width: 180px;
  border: 2px solid #ccc;
  background-color: #eef1f5;
  margin-right: 18px;
}
.vasakkast .body {
  display: inline-block;
  width: 72%;
  margin-top: 6px;
}
.vasakkast .sinised-ikoonid {
  padding: 12px 0 0 0px;
  float: left;
  display: inline-block;
  width: 20%;
  height: 100%;
}
.vasakkast .sinised-ikoonid .icon {
  display: table;
  margin: 0 auto;
}
footer {
  padding: 35px;
  background-color: #e7f2f9;
  margin: 0 auto;
}
footer .sub div {
  padding-bottom: 2px;
}
footer .hold-items {
  width: 990px;
  margin: 0 auto;
  display: table;
}
footer .logo.EP {
  height: 66px;
  width: auto;
}
footer .logo.FI {
  height: 59px;
  width: auto;
}
footer.slim {
  padding: 16px;
}
footer.slim .logo.EP {
  height: 66px;
  width: auto;
  padding-right: 40px;
}
footer.slim .text-padding {
  padding-top: 22px;
}
.h3padding {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h3padding.v2 {
  margin-top: 27px;
  margin-bottom: 9px;
}
.label {
  display: inline;
  padding: 0.2em 1.6em .3em;
  font-size: 90%;
  font-weight: inherit;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-danger {
  background-color: #d41337;
}
.label-warning {
  background-color: #ffac33;
}
.label-success {
  background-color: #00bb4a;
}
.text-danger {
  color: #D41337;
}
table.dataTable .darkbottomborder th,
table.dataTable .darkbottomborder td {
  padding: 10px 18px;
  border-bottom: 1px solid #ddd;
}
.width56p {
  width: 56%;
}
.width85p {
  width: 85%;
}
table.dataTable.display.no-top-border tbody td {
  border-top: none;
}
table.dataTable.display.borderforsubrows .even {
  border-bottom: 1px solid #eef1f5;
}
tbody tr td .fa.haserror {
  position: absolute;
  margin-top: 4px;
  left: 5px;
}
.icon-position-fix .fa {
  margin-top: 2px;
}
.tooltip-close {
  position: absolute;
  right: 10px;
  font-size: 21px !important;
  top: 15px;
  cursor: pointer;
  color: #b3b3b3;
}
.warning-yellow {
  color: #f2ae43;
}
.warning-yellow .tooltipster-content .fa-warning {
  font-size: 16px;
  color: #f2ae43;
}
.warning-yellow .tooltipster-content strong.heading {
  padding-left: 5px;
}
.warning-yellow .tooltipster-content p {
  padding-top: 7px;
  font-size: 14px;
}
.warning-yellow .tooltipster-content .control-buttons {
  display: table;
  margin: 0 auto;
}
.warning-yellow .tooltipster-content .control-buttons button:first-of-type {
  margin-right: 15px;
}
.warning-yellow .tooltipster-content .control-buttons button {
  width: 95px;
}
.panel-default .panel-heading {
  color: inherit;
  background-color: #fff;
  border: none;
}
.underlinebox {
  float: left;
  border-bottom: 1px solid #ccc;
  width: 66%;
  padding-bottom: 4px;
}
.underlinebox.smaller {
  width: 55%;
}
.monthyear {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 190px;
  padding: 6px 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}
.monthyear .current {
  text-align: center;
}
.monthyear a {
  position: absolute;
}
.monthyear a.left {
  left: 10px;
}
.monthyear a.right {
  right: 10px;
}
.monthyear.holdcenter {
  position: relative;
  left: 23%;
  top: 12px;
}
.split-table.dataTable thead th,
.split-table.dataTable thead td,
.split-table.dataTable.row-border tbody th,
.split-table.dataTable.row-border tbody td,
.split-table.dataTable.display tbody th,
.split-table.dataTable.display tbody td {
  border: 0;
}
.split-table.dataTable thead th,
.split-table.dataTable thead td,
.split-table.dataTable.row-border tbody th,
.split-table.dataTable.row-border tbody td,
.split-table.dataTable.display tbody th,
.split-table.dataTable.display tbody td {
  border: 0;
}
.split-table .separator {
  padding-right: 71px;
  position: relative;
}
.split-table .separator:after {
  content: "";
  display: block;
  background: #dae5ec;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 100%;
}
.split-table .separator + th,
.split-table .separator + td {
  padding-left: 38px !important;
  position: relative;
}
.split-table .separator + th:after,
.split-table .separator + td:after {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  left: 0;
  top: -500px;
  width: 1000px;
  height: 999999px;
  z-index: -1;
}
.split-table .separator + th:before,
.split-table .separator + td:before {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 100%;
}
.sidenav {
  float: left;
  width: 200px;
}
.sidenav .fa {
  line-height: 27px;
}
.sidenav .title {
  padding: 3px 10px;
}
.sidenav.v2 {
  width: 185px;
}
.sidenav.v2 a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  word-break: break-all;
  background-color: inherit;
  border: 1px solid #dae5ec;
  color: #3A75C4;
  border-bottom: none;
}
.sidenav.v2 a:last-of-type {
  border-bottom: 1px solid #dae5ec;
}
.sidenav a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  word-break: break-all;
  color: inherit;
  display: block;
  border-bottom: 1px solid #fff;
  background-color: #dae5ec;
}
.sidenav a:hover {
  text-decoration: underline;
}
.sidenav a.active {
  background-color: #f6f8fa;
  border-left: 1px solid #dae5ec;
  margin-top: -1px;
  border-bottom: none;
  border-right: 1px solid #f6f8fa;
  position: relative;
  left: 0px;
  margin-right: -1px;
}
.bodywithsidepanel {
  float: left;
  background-color: #f6f8fa;
  border: 1px solid #dae5ec;
  width: 86%;
  padding: 25px 45px;
}
.bodywithsidepanel .form-control.mediumwidth {
  width: 350px;
}
.bodywithsidepanel ol .form-control.smallwidth {
  width: 6%;
  display: inline-block;
  margin-right: 25px;
}
.bodywithsidepanel ol .form-control.largewidth {
  width: 91%;
  display: inline-block;
}
.bodywithsidepanel ol.whitebackground {
  padding: 15px;
  padding-top: 7px;
  background-color: #fff;
}
.bodywithsidepanel ol.whitebackground .spaceforicons.medium {
  padding: 0px 9px;
}
.bodywithsidepanel ol.whitebackground.normal-rows li {
  padding: 7px 20px;
}
.bodywithsidepanel ol.whitebackground.normal-rows li.has-sub {
  border-bottom: 1px solid #eef1f5;
}
.bodywithsidepanel ol.whitebackground ol.narrow-rows li span {
  padding: 1px 10px;
}
.bodywithsidepanel ol.whitebackground ol.sub {
  padding-left: 50px;
}
.bodywithsidepanel ol.whitebackground ol.sub li:nth-child(odd) {
  background-color: #eef1f5;
}
.bodywithsidepanel ol.whitebackground ol.sub tr:nth-child(even) {
  background-color: #fff;
}
.bodywithsidepanel .align-bottom button {
  margin-top: 8px;
  margin-right: 7px;
}
.bodywithsidepanel .align-bottom button:last-of-type {
  margin-right: 0;
}
.bodywithsidepanel .fa {
  font-size: 16px;
}
.sidenav-holder {
  float: left;
  width: 200px;
}
.fa-large.fa {
  font-size: 19px;
}
.tablepreview.body .col {
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
  float: left;
  height: 100%;
  min-width: 78px;
}
.tablepreview.body .col:first-of-type {
  border: 1px solid #D9D9D9;
}
.tablepreview.body .col .top {
  float: left;
  background-color: #E7F2F9;
  height: 131px;
  min-width: 78px;
  width: 100%;
}
.tablepreview.body .col .top .heading {
  padding: 8px;
  padding-top: 10px;
  float: left;
  height: 100%;
  word-break: normal;
}
.tablepreview.body .col .top.roof {
  height: 78px;
  border-bottom: 1px solid #D9D9D9;
}
.tablepreview.body .col .sub1,
.tablepreview.body .col .sub2 {
  float: left;
  background-color: #E7F2F9;
  width: 50%;
  padding: 8px;
  padding-top: 10px;
  height: 52.5px;
  word-break: normal;
}
.tablepreview.body .col .sub1 {
  border-right: 1px solid #D9D9D9;
}
.tablepreview.body .col .bottom {
  float: left;
  height: 31px;
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #D9D9D9;
}
.tablepreview.footer {
  height: auto;
  float: left;
  margin-top: 25px;
}
table.tableprev tr th {
  text-align: left;
  min-width: 78px;
  vertical-align: top;
  max-width: 108px;
}
.vertical-scroll {
  overflow-x: scroll;
}
.vertical-text-top {
  vertical-align: text-top;
}
.horizontal-scroll {
  overflow-y: scroll;
}
.modal-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
}
.modal-loading .inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  text-align: center;
}
.sticky-footer {
  height: auto;
  width: 100%;
  background-color: #dae5ec;
  float: left;
  border-top: 1px solid #cdcdcd;
  border-bottom: 2px solid #cdcdcd;
}
.sticky-footer .row-padding {
  padding: 10px 0 10px 15%;
}
.sticky-footer .row-padding .margin-right {
  margin-right: 10%;
}
.sticky-footer .row-padding .even-spacing button,
.sticky-footer .row-padding .even-spacing .tworowtext {
  margin-right: 10px;
}
.sticky-footer .row-padding .even-spacing .tworowtext {
  display: inline-block;
  vertical-align: middle;
}
.sticky-footer .row-padding .even-spacing .tworowtext p {
  margin-bottom: 0;
  line-height: 1;
}
.sticky-footer .strong {
  font-weight: 500;
}
.sticky-footer.sticked {
  position: fixed;
  bottom: 0;
  z-index: 1;
  left: 0;
}
.sticky-footer.sticked.maxwidth {
  max-width: 1230px;
  left: inherit;
}
.sticky-footer-2 {
  height: auto;
  width: 100%;
  background-color: transparent;
  float: left;
  border-top: none;
  border-bottom: none;
}
.sticky-footer-2 .strong {
  font-weight: 500;
}
.sticky-footer-2.sticked {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #dae5ec;
  border-top: 1px solid #cdcdcd;
  border-bottom: 2px solid #cdcdcd;
  left: inherit;
}
.sticky-footer-2.sticked .row-padding {
  padding: 10px 25px;
}
i.icon-circle-o:before {
  margin-left: 0;
  margin-right: -2px;
}
input[type="checkbox"].margin-right {
  margin-right: 5px;
}
.bordered-row {
  float: left;
  width: 100%;
  background-color: inherit;
  border-bottom: 1px solid #e6e6e6;
  padding: 7px 0;
}
.bordered-row.no-border {
  border-top: none;
  border-bottom: none;
}
.bordered-row.pink {
  background-color: #ffebef;
}
.bordered-row:first-of-type {
  border-top: 1px solid #e6e6e6;
}
.label-holder {
  min-width: 120px;
  float: left;
  text-align: center;
}
.label-holder.smaller {
  min-width: 105px;
}
.label-holder.smaller .label {
  display: block;
  width: 94px;
  padding: 0.2em 0em .3em;
}
.label-holder .label {
  display: block;
  width: 110px;
}
.full-bg-wrap {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 100px 0;
  color: #2B2E66;
  min-height: 712px;
}
.full-bg-wrap h1:first-of-type {
  margin-bottom: 45px;
  font-size: 33px;
}
.full-bg-wrap .alert:first-of-type {
  padding: 10px 5px;
}
.full-bg-wrap .more-options {
  width: 852px;
  margin: 0 auto;
  position: relative;
}
.full-bg-wrap .more-options .inner {
  position: absolute;
  top: 420px;
  left: 0;
}
.full-bg-wrap .more-options .inner .other {
  padding: 15px 32px;
  background-color: #fff;
  border-radius: 4px;
}
.full-bg-wrap .more-options .inner .other button {
  border: none;
  margin-right: 21px;
  padding: 6px 20px;
}
.full-bg-wrap .more-options .inner .other button.orange {
  background-color: #ef6d06;
  border-bottom: 4px solid #bc3a00;
}
.full-bg-wrap .more-options .inner .other button.light-green {
  background-color: #60cd18;
  border-bottom: 4px solid #2d9a00;
}
.full-bg-wrap .more-options .inner .other button.dark-green {
  background-color: #4d9e00;
  border-bottom: 4px solid #1a6b00;
}
.full-bg-wrap .more-options .inner .other button.blue {
  background-color: #0061a0;
  border-bottom: 4px solid #002e6e;
}
.full-bg-wrap .more-options .inner .other button.dark-blue {
  background-color: #03426a;
  border-bottom: 4px solid #00001e;
}
.full-bg-wrap .more-options .inner .other button:last-of-type {
  margin-right: 0;
}
.full-bg-wrap .more-options h3:first-of-type {
  font-size: 23px;
  line-height: 1.6;
}
.full-bg-wrap footer {
  height: 100px;
}
.full-bg-wrap .gray-text {
  color: #666;
}
.full-bg-wrap .load-icon {
  font-size: 20px;
  vertical-align: bottom;
  padding-left: 6px;
}
.full-bg-wrap .load-icon.orange {
  color: #FF900B;
}
.full-bg-wrap .load-icon.green {
  color: #00BB4A;
}
.full-bg-wrap .load-icon.red {
  color: #ED2C50;
}
.full-bg-wrap .center-container {
  margin: 0;
  height: 100%;
}
.full-bg-wrap .center-container .center-img {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.baseline {
  vertical-align: baseline;
}
.mini-panel-holder {
  margin: 0 auto;
  float: none;
  width: 740px;
}
.circle-bg {
  background-color: #fff;
  border-radius: 100px;
  height: 36px;
  text-align: center;
  width: 36px;
  display: inline-block;
}
.circle-bg .fa {
  font-size: 23px;
}
.mini-panel {
  background-color: #fff;
  width: 350px;
  text-align: center;
  height: 160px;
  border-radius: 4px;
}
.mini-panel .heading {
  font-size: 20px;
  padding: 15px 0px 14px 0px;
}
.mini-panel .secondary {
  padding-bottom: 15px;
}
.mini-panel .form-control {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -4px;
}
.mini-panel button {
  font-weight: 700;
  padding: 2px 20px;
}
.mini-panel button .icon {
  font-size: 19px;
}
.mini-panel button .button-text {
  display: inline-block;
  position: relative;
  top: -1px;
}
