@light-blue: #3A75C4;
@ootel: #2E6DC1;
@sinised-ikoonid: #2E6DC1;
@kehtiv: #00BB4A;
@mustand: #5e5e5e;
@table-graytext: #666;
@notactive: #CCC;
@waterblue: #dae5ec;
@soft-pink: #ffebef;

@warning-red: #ED2C50;
@warning-yellow: #f2ae43;
@warning-orange: #f9733f;

@dark-red: #D41337;

@alert-danger-bg: #ffebef;
@alert-danger-border: #D41337;
@alert-warning-bg: #ffffe0;
@alert-warning-border: #fbe51a;
@alert-warning-icon: #ff900b;

@alert-info-bg: #E3F6FF;
@alert-info-border: #3686af;
@alert-info-icon: #1D6D96;

@status-blue: #2E6DC1;
@status-red: #ED2C50;
@status-dark-gray: #666666;
@status-light-gray: #cccccc;
@status-green: #00BB4A;
@status-yellow: #F6E015;

.status-blue {  color: @status-blue;  }
.status-red {  color: @status-red;  }
.status-dark-gray {  color: @status-dark-gray;  }
.status-light-gray {  color: @status-light-gray;  }
.status-green {  color: @status-green;  }
.status-yellow {  color: @status-yellow;  }

.notactive {
  color: @notactive;
}

.warning-red {
  color: @dark-red;
}

.warning-orange {
  color: @warning-orange;
}

.ootel {
  color: @ootel;
}

.mustand {
  color: @mustand;
}

td.table-light-text {
  color: @table-graytext;
}

body {
  background-color: #F1F4F8;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -192px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 192px; /* .push must be the same height as .footer */
}

.sticky-studderfix {
  height: 38px;
}

a {
  color: @light-blue;
  text-decoration: none;
}

.navbar {
  background-color: #fff;
  border-bottom: 1.3px solid #ccc;
  box-shadow: 0px 1px 6px #d4d4d4;
  border-radius: 0px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
  a:hover {
    background-color: inherit !important;
  }
  .active {
    font-weight: 700;
  }
  .icons {
    margin-top: 13px;
    .pull-left, .pull-right {
      position: relative;
      margin-right: 12px;
    }
    .count {
      position: absolute;
      top: -4px;
      color: @dark-red;
      font-size: 11px;
      font-weight: 500;
      right: -10px;
    }
  }
}

.nav .open>a, .nav .open>li>a:focus, .nav>li>a:hover {
  background-color: #fff;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #fff;
}

.nav>li>a:focus, .nav>li.nav > li > a:focus {
  background-color: inherit;
}

.wdivider+.wdivider {
  background:url(../img/menu-divider.svg) left no-repeat;
  background-size: 2.9px;
}

.wdivider {
  > .selected-menuitem {
    height: 17px;
    width: 62px;
    position: absolute;
    top: 50px;
    left: 0px;
  }
}

.breadcrumb {
  background-color: inherit;
  padding: 8px 0px;
  font-size: 14px;
  margin-top: -25px;
  > .active {
    color: #2C3642;
  }
  li {  font-size: inherit;  }
  li+li:before {
    padding: 0 5px;
    color: #2C3642;
    content: "/\00a0";
  }
}

.panel {
  border-radius: 0px;
}

.makewider {
  min-width: 1528px;
}

.panel-body {
  &.more-padding {
    padding: 30px 35px 0px 35px;
    &.v2 { padding: 20px 30px 30px 30px; }
  }
}

.panel-default {
  border-color: #ebebeb;
}

.btn {
  padding: 6px 20px;
}

.btn-primary {
  .icon-id-logo {  &.minus-margin {margin-left: -10px;}  }
  border-bottom: 4px solid #144f9e;
  border-color: #144f9e;
  background-color: #3A75C4;
  color: #fff;
  text-shadow: 1px 1px 5px #4c4c4c;
  font-weight: 500;
  padding: 4px 20px;
  &.slim {
    font-size: 14px;
    font-weight: normal;
    height: 100%;
    padding: 0px 18px;
    border-bottom: 1px solid #144f9e;
    &.id { padding: 0px 7px; }
    .icon-id-logo {
      padding-right: 2px;
    }
  }
}

.btn-light {
  border-bottom: 4px solid #cccccc;
  border-color: #cccccc;
  color: @light-blue;
  font-weight: 500;
  padding: 4px 20px;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}

.spaceforicons {
  display: inline-block;
  padding: 0px 20px;
  &.medium {
    padding: 0px 15px;
  }
  &.small {
    padding: 0 3px;
  }
  &.single-icon {
    padding: 0 26px;
  }
}

.spacetop {
  margin-top: 20px;
}

.nolabel-space {
  padding-left: 184px;
}

.col-xs-2-cus {
  width: 13.666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}

.col-xs-3-cus {
  width: 21%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}

.col-xs-4-cus {
  width: 29%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}

.col-xs-1-cus {
  width: 11.666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
}

.col-xs-4 {
  &.fixedwidth {
    width: 526px;
  }
}

td {
  &.largewidth {
    width: 74%;
  }
  &.sub-row-pulltop {
    padding: 0px 0px 3px 32px !important;
    td:first-child {
      width: 73.5%;
    }
  }
  .fa-circle {
    padding-right: 5px;
  }
  .fa {
    &.fa-comment-o {
      font-size: 16px;
    }
    &.dragme {
      padding-right: 30px;
      font-size: 16px;
      pointer-events: none;
    }
  }
  .expand-title {
    font-weight: 500;
  }
}

.dragme {
  color: @light-blue;
  cursor: pointer;
}

.ui-sortable-helper{
  background-color: #fff;
}

.ui-state-highlight {
  border: 1px solid @light-blue !important;
}

.disableclick {
  pointer-events: none;
}

th {
  &.hold-text-top {
    vertical-align: top;
    &.sortable-pos {
      background-position: top left!important;
      background-position-y: 7px!important;
    }
    .fa-question-circle {
      position: absolute;
      right: 7px;
    }
  }
  &.mediumwidth {
    width: 25%;
  }
}

.expand-body {
  .sinised-ikoonid {
    width: 132px;
  }
}

a.paginate_button {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

a.paginate_button.current {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #ddd;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 3px 10px;
}

tbody {
  &.no-bottom-and-top-border {
    tr > td {border-top: none;  border-bottom: none;}
  }
  &.calendar-element-rows {
    tr > td {  padding: 6px;  }
  }
  &.moreheight {
   tr > td {
     height: 51px;
    }
  }
  &.duo-color {
    tr > td:first-of-type { background-color: #e7f2f9 }
    tr > td:last-of-type { min-height: 20%; background-color: #fff }
  }
}

.icon-table-expand {
  color: #2e6dc1;
  &.inline {
    display: inline-block;
  }
  &.table-small {
    position: absolute;
    left: 6px;
    font-size: 11px;
    margin-top: 2px;
  }
}

.inline-block {
  display: inline-block;
}

.rotate90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  &.minus {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
  }
}

.rotate90f {
  -ms-transform: rotate(90deg)!important; /* IE 9 */
  -webkit-transform: rotate(90deg)!important; /* Chrome, Safari, Opera */
  transform: rotate(90deg) !important;
}

.rotate270 {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

.rotate180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.show-hidden {
  display: block;
}

h3, .h3 {
  font-size: 25px;
  small {
    font-size: 15px;
    .fa-circle {
      font-size: 19px;
    }
    &.darknumbers {
      color: inherit;
      padding-left: 15px;
    }
  }
  .icon-padding {
    padding-left: 10px;
  }
  .fa-question-circle {
    color: #000;
    font-size: 19px;
    padding-left: 5px;
  }
}

.sinised-ikoonid {
  > .fa:hover {
    color: #003A8E;
  }
}

.sinised-ikoonid {
  color: @sinised-ikoonid;
  &.fixedwidth {
    width: 86px;
  }
  &.smallwidth {
    width: 81px;
  }
}

.clickable {
  cursor: pointer;
}

.container-max1630 {
  max-width: 1630px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.width1280 {
  min-width: 1280px;
  &.navbar {
    margin: 0 auto;
  }
  ul.navbar-nav {
    text-align: left;
  }
  .container-max1630 {
    /*
    padding: 0 30px;
    */
    ul {
      &.nav > li {
        &:first-of-type {
          a {padding-left: 0px;}
        }
        &.last {
          a {padding-right: 0px;}
        }
      }
    }
  }
}

.minwidth {
  min-width: 1280px;
}

.minwidth-2 {
  min-width: 1530px;
}

.col-xs-2-cus {
  .form-group {
    width: 100%;
  }
  .form-control {
    width: 100%;
  }
}

.form-control {
  &.fornumbers {
    width: 45px;
  }
  &.spaceforicon {
    width: 94%;
  }
  &.smallwidth-2{
    width: 80px;
    &.margin-right {
      margin-right: 5px;
    }
  }
  &.smallwidth-3 {
    width: 118px;
  }
  &.largewidth {
    width: 1046px;
  }
  &.fullwidth {
    width: 100%;
    float: left;
  }
  &.fitwithicon {
    width: 320px;
  }
  &.mediumwidth2 {
    width: 365px;
  }
  &.mediumwidth5 {
    width: 136px;
  }
  &.mediumwidth3 {
    width: 250px;
  }
  &.mediumwidth-4 {
    width: 221px;
  }
  &.fixedwidth{
    &.small {
      width: 105px;
    }
    &.margin-right{
      margin-right: 10px;
    }
  }
}

.fullwidth {
  width: 100%
}

.blue-link{

}

.pagination {
  margin: 0;
}

.cell-error {  background-color: @soft-pink  }

tr {
  &.no-top-border {
    td {  border-top: none!important;  }
  }
  &.no-border {
    border-top: none; border-bottom: none;
  }
  &.no-border-bottom-2  {  border-bottom: none!important;  }
  &.no-border-bottom { th {     border-bottom: none !important;  } }
  &.gray-border-bottom {  border-bottom: 2px solid #eef1f5;  }
  &.even.white{  background-color: #fff;  }
  .sub-row td {  border-top: 1px solid #eef1f5 !important;  }
  &.softpink {  background-color: @soft-pink !important;  }
  &.softyellow { background-color: #ffffe0 !important; }
  &.softpink, &.softyellow { border-bottom: 1px solid #FFF !important; }
  &.sub-row-box {
    background-color: #eef1f5 !important;
    table {
      background-color: #fff !important;;
      margin: 5px 0 !important;
      padding: 0 18px !important;
      margin-top: 0px !important;
    }
    td:first-of-type {    padding-top: 0px; }
    td {
      .col1 { width: 30% }
      .col2 { width: 6% }
      .col3 { width: 5.5% }
      .col4 { width: 11.5% }
      .col5 { width: 11.4% }
      .col6 { width: 13.7% }
    }
    tr {
      &.showlast {
        height: 28px;
        td {
          position: absolute;
          left: 31.5%;
          margin-bottom: 0px;
          padding-bottom: 7px;
        }
        a {
          background-color: #eef1f5;
          padding: 4px 14px;
          border-radius: 4px;
          position: relative;
          bottom: -8px;
        }
      }
    }
  }
}

.expand-text {
  padding-left: 11px;
  padding-right: 20px;
}

.sub-row {
  .expand-text {
    padding-left: 119px;
  }
}

.btn {
  &.uniqmargin {
    margin: 3px 0px 30px 168px;
  }
}

thead {
  &.lesspadding { tr > th {padding: 4px 18px!important;} }
  &.lesspadding2 { tr > th {padding: 4px 9px!important;} }
  &.bottom-border { tr > th {border-bottom: 1px solid #ddd!important;} }
  &.invisible {
    tr th {  border: 1px solid transparent; border-bottom: 1px solid #ddd;  }
  }
  &.invisiblef {
    display: block;
    height: 1px;
    tr th {  border: 1px solid transparent; }
  }
  &.fix-head {
    position: fixed;
    background-color: #dae5ec;
    width: 96%;
    display: inherit;
    top: 0;
    max-width: 1568px;
    th { border-bottom: none; }
  }
}

table.padding-left {
  thead > tr > th:first-child {
    padding-left: 40px !important;
  }
  tr > td:first-child {
    padding-left: 40px !important;
  }
}

/*Kui teksti on liiga palju ja ei mahu tabelisse ära siis pane 3 punkti lõppu*/
table.dataTable tbody th, table.dataTable tbody {
  td.withlink {
    max-width: 458px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: @light-blue;
    &:hover {  text-decoration: underline;  }
  }
}

table {
  &.calendar {
    thead {
      background-color: #fff;
       tr > th {
        font-weight: normal;

        width: 7%;
        padding: 7px 14px;
        border: none;
      }
    }
    tbody {
      td {  background-color: #fff;
        &.transp {
          background-color: transparent;
          color: #5e7184;
        }
        &.highlight {
          background-color: #eefff2;
        }
      }
      tr > td:nth-last-child(-n+2) {  background-color: #f0ffff;  }
    }
    .holder {
      min-height: 69px;
      padding: 7px 14px;
      .statusico {
        float: right;
        font-size: 20px;
      }
    }
    .event {
      float: left;
      font-size: 14px;
      margin-left: -3px;
      padding-top: 5px;
      .icon-table-expand {
        font-size: 11px;
        vertical-align: text-bottom;
      }
    }
  }
  &.with-errors {
    td {
      .row-error-icon {
        float: left;
        color: @dark-red;
        margin-top: 9px;
      }
      .col-xs-4 {
        padding-right: 0px;
        padding-left: 0px;
        &:last-of-type {  padding-right: inherit;  }
        &:first-of-type {  padding-left: inherit;  }
        &.padding-left { padding-left: inherit; }
        &.padding-right { padding-right: inherit; }
      }
      .form-control {
        float: right;
        width: 97%;
        &.narrow {
          width: 93%;
        }
      }
    }
  }
  &.smallrows {
    width: 100%;
    th {  padding: 3px 10px;  }
    tbody td {  padding: 3px 10px;  }
    thead > tr > th {  border-bottom-width: 1px;  }
    &.padding-left-2 {
      thead > tr > th:first-of-type, tbody > tr > td:first-of-type { padding-left: 18px; }
    }
  }
  &.light-gray { thead {  background-color: #f6f8fa;  } }
  &.light-blue { thead {  background-color: #e7f2f9;  } }
  &.bottom-border-fix {
    border-collapse: collapse !important;
  }
  tbody {
    tr { &.grayrow {background-color: #eef1f5!important; border: 1px solid #d9d9d9;} }
    @sub-row-base: 47px;
    @sub-row-2: @sub-row-base + 25px;
    &.sub-row {
       tr td:first-of-type {  padding-left:  @sub-row-base!important;  }
      &.lvl2 { tr td:first-of-type { padding-left: @sub-row-2!important; } }
    }

  }
  &.col-3 {
    .col-1 {
      padding-left: 30px;
      width: 40%;
      border-right: 0px;
    }
    .col-2 {
      border-left: 0px;
      width: 6%;
      padding-left: 20px;
    }
    .col-3 {
      border-left: 0px;
      width: 29%;
      padding-left: 20px;
    }
    tbody {
      tr {
        td { &:first-of-type {  padding: 8px 30px;  } }
        td { &:last-of-type {  padding: 8px 20px;  } }
      }
    }
  }
  &.col-2 {
    .col-1 {
      padding-left: 30px;
      width: 89%;
      border-right: 0px;
    }
    .col-2 {
      border-left: 0px;
      padding-left: 20px;
    }
    tbody {
      tr {
        td { &:first-of-type {  padding: 8px 30px;  } }
        td { &:last-of-type {  padding: 8px 20px;  } }
      }
    }
  }
  &.col-1 {
    tr > th { padding-left: 20px; }
    tbody > tr > td { padding: 8px 20px; }
  }
  &.borderless {
    tbody {
      tr:first-of-type { td { border: none; } }
    }
  }
}

.borderless { border: none; }
.borderlessf { border: none !important; }

ol {
  li {
    font-size:0;
    span {
      font-size:15px;
      padding: 3px 10px;
      .fa-arrows-alt {
        padding-top: 5px;
      }
    }
  }
  &.outer {
    padding-left: 10px;
    li {font-size:0;
      .border-bottom {
        border-bottom: 2px solid #eef1f5;
      }
      span {display:inline-block; font-size:15px;
      }
      &.col-3-list {
        span {
          &.col1 {
            width: 74%;
          }
          &.col2 {
            width: 17.7%;
          }
          &.col3 {
            width: 7%;
            text-align: right;
          }
        }
      }
    }
    .inner {
      .margin-top {
        margin-top: 10px;
      }
      padding-left: 30px;
      li {
        span {
          &.col1 {
            width: 73.5%;
          }
          &.col2 {
            width: 17.5%;
          }
          &.col3 {
            width: 8%;
            text-align: right;
            padding-right: 1%;
          }
        }
      }
    }
  }
}


.navbar {
  font-size: 17px;
  &.makewider {
    min-width: 1543px;
  }
  &.makewider-2 {
    min-width: 1690px;
  }
}

body, .form-control {
  font-size: 15px;
}

.form-group {
  &.bottom-space {
    margin-bottom: 6px;
  }
  .mediumwidth{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 395px;
  }
  .mediumwidth-2{
    width: 280px;
  }
  .left-text {
    width: 184px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
  }
  .left-text-2 {
    width: 168px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
  }
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs.center {
  margin: 0 auto;
  display: table;
}

.nav-tabs{
  > li > a {
    margin-right: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-right: 4px solid #e3e5e6;
    padding: 10px 18px;
    &:hover {
      color: #000;
      border: 1px solid #ddd;
      border-right: 4px solid #e3e5e6;
    }
    &:focus {
      background-color: #fff;
    }
  }
  > li.active > a {
    color: #333;
    font-weight: 500;
    border-right: 4px solid #e3e5e6;
    &:hover {
      color: #333;
      border-right: 4px solid #e3e5e6;
    }
    &:focus {
      color: #333;
      border-right: 4px solid #e3e5e6;
    }
  }
}

.add-when-using-tabs {
  position: relative;
  top: -39px;
}

label {
  font-weight: normal;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  padding-top: 0px;
}

.form-horizontal {
  &.fixed-width {
    width: 608px;
    &.smaller {
      width: 555px;
      margin-right: 49px;
    }
  }
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

.no-padding-top {
  padding-top: 0px !important;
}

.no-margin {
  margin: 0px;
}

textarea { &.resize-vertical {  resize: vertical;  } }
textarea { &.resize-vertical-force {  resize: vertical!important;  } }

.overflow-show {
  overflow: visible !important;
}

.no-margin-top {  margin-top: 0px;  }
.no-margin-bottom {  margin-bottom: 0px;  }

.large-icon {
  font-size: 29px !important;
  color: #3A75C4;
  padding-top: 2px;
  padding-left: 10px;
}

.large-icon-2 {
  font-size: 25px !important;
}

.alignbuttons {
  width: 135px;
  button {
    width: 135px;
    margin-bottom: 12px;
  }
}

.alignbuttons-2 {
  width: 135px;
  button {
    width: 192px;
    margin-bottom: 12px;
  }
}

.lang-menu {
  position: absolute;
  left: 700px;
  height: 200px;
  width: 400px;
  display: block;
  background-color: #fff;
  z-index: 2;
  border: 2px solid gray;
}

.tooltip_templates { display: none; }

.theme.gray{
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #f6f8fa;
  }
  .panel-default {
    background-color: #f6f8fa;
  }
}

hr {
  border-top: 1px solid #CCC;
  &.smallspacing {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.makeitfit {
    float: left;
    width: 92%;
    margin-bottom: -20px;
    margin-top: 10px;
  }
  &.no-margin-top {
    margin-top: 0!important;
  }
}

.input-group-addon {
  background-color: transparent;
  border: none;
}

.button-spacing {
  display: inline-block;
  button {
    margin-right: 8px;
  }
}

.panel {
  &.transparent {  background-color: transparent;  }
  .gray {
    background-color: #f1f4f8;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .water-blue {
    padding: 0px 35px 10px 20px;
    overflow:hidden;
    background-color: @waterblue;
    border: 0;

    .panel-content{
      position: relative;
      z-index: 1;
    }
  }
}


.smallicons {
  .fa {
    font-size: 19px !important;
    &.smallerandpadding {
      color: #3A75C4;
      padding-right: 15px;
      vertical-align: baseline;
      font-size: 17px !important;
    }
  }
  &.alignmiddle {
    .fa {
      vertical-align: middle;
    }
  }
}

.dotdotdot {
  max-width: 458px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shortenlongtext {
  tr td {
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.disallow2rows {
  tr td {
    white-space: nowrap;
  }
}

.modal-xtra-lg {
  width: 940px;
}

.modal-dialog {
  &.modal-sm2 {
    width: 600px;
  }
  &.sm2-flex {
    min-width: 600px;
    max-width: 1500px;
    width: auto;
    .modal-content {
      float: left;
    }
    .scrollarea {
      float: left;
    }
  }
}

.modal-content {
  h5 {
    font-size: 16px;
  }
}

.modal-header {
  padding: 35px;
  border-bottom: none;
}

.modal-body {
  position: relative;
  padding: 0 35px;
  .form-control {
    &.smallwidth{
      width: 104px;
    }
    &.smallwidth-3 {
      width: 153px;
    }
  }
  .form-inline {
    &.holdinplace {
      position: absolute;
      top: 44px;
      padding-top: 0px;
    }
  }
}

.modal-footer {
  text-align: right;
  border-top: none;
  padding: 40px 35px;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 755px;
  }
  .modal-lg {
    &.wider {  width: 1100px;  }
  }
}

.btn {
  font-size: 15px;
  &.margin-right {
    margin-right: 14px;
  }
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-5 {
  margin-right: 5px;
}

.btn.fixedwidth {
  width: 135px;
}

.btn-transparent {
  color: #3A75C4;
  background-color: transparent;
  border: 0px;
  text-shadow: none;
  padding: 0px;
  margin-top: 10px;
  font-weight: 500;
}

.force-center {
  margin: 0 auto;
  display: table;
}

.btn-margin {
  button {
    margin-right: 10px;
  }
}

.forscreenreader {
  display: none;
}

.modal-header .close {
  margin-top: -27px;
  margin-right: -10px;
  font-size: 36px;
}

.dropdown-menu {
  .divider {
    margin: 0 10px;
  }
  &.hold-left {
    right: 0;
    left: inherit;
  }
  &.tablelistactions {
    &.dropicon {
      top: 25px;
      .dropico {
        position: absolute;
        height: 17px;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        top: -14px;
        right: 16px;
        height: 14px;
        width: auto;
      }
    }
    z-index: 9999;
    li { margin: 4px 0 0; }
    i.fa { font-size: 16px; padding-right: 5px;}
    a { padding: 3px 15px; color: #3A75C4; }
    &.realign {
      right: -2px;
    }
    &.holdmoreright{ right: -26px; }
  }
  &.fortags{
    top: 30px;
    min-width: 140px;
    .headertext {
      padding: 0px 10px;
      font-size: 15px;
    }
    li:first-of-type {
      margin-bottom: 5px;
      padding-left: 0px;
    }
    li {
      font-size: 15px;
      height: 22px;
      padding: 0 10px;
      input {
        margin-right: 5px;
      }
    }
    li.forbutton {
      height: auto;
      margin-top: 10px;
      text-align: center;
    }
  }
}
.alert-danger {
  color: @dark-red;
}

.alert-danger-text {
  font-size: 13px;
  color: @dark-red;
  width: 100%;
  &.withpadding {
    padding-bottom: 20px;
    padding-left: 168px;
    margin-top: -11px;
    float: left;
  }
}

.has-error {
  font-size: 13px;
}

.newrow {
  float: left;
  width: 100%;
}

.alert-danger-2 {
  color: inherit;
  background-color: @alert-danger-bg;
  border-color: @alert-danger-border;
  .fa-exclamation-circle {
    color: @dark-red;
  }
}

.alert-info-2 {
  color: @alert-info-border;
  background-color: @alert-info-bg;
  border-color: @alert-info-border;
  .fa-exclamation-circle {
    color: @alert-info-icon;
  }
}

input, select {
  &.alert-danger-2 {
    color: @dark-red;
  }
}

.alert-warning {
  color: inherit;
  background-color: @alert-warning-bg;
  border-color: @alert-warning-border;
  .fa-exclamation-triangle {
    color: @alert-warning-icon;
  }
}

.veateade-cover {
  position: relative;
  left: -10px;
  float: left;
  .fa {
    position: absolute;
    top: 3px;
    color: @dark-red;
    right: -1px;
  }
}

.alert {
  padding: 10px 15px;
  .fa {
    position: relative;
    top: 2px;
    font-size: 20px;
    padding-right: 10px;
  }
  .sub-items {
    padding-left: 47px;
    p{
      margin: 0px 0 3px;
    }
  }
  .alert-btn {
    position: relative;
    top: -11px;
  }
}

.fa {
  &.medium {  font-size: 16px;  }
  &.small {  font-size: 19px;  }
  &.hoiatus {  font-size: 16px;  color: @warning-orange;  }
  &.fa-circle {
    &.bullet { font-size: 8px; padding-right: 0px; position: relative; top: -2px; }
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

.showresults-withpadding {  font-weight: inherit; padding: 0px 18px 0px 29px;  }

th.minwidth {  min-width: 35px;  }

th.statuswidth {  width: 96px;  }

.checkbox-margin-right {  margin-right: 8px !important;  }

.checkbox { &.padding-left {  padding-left: 13px;  } }

.margin-left-7 {  margin-left: 7%;  }

.margin-left-10 {  margin-left: 10px;  }

.margin-left-3p {
  margin-left: 3%;
  &.x2 {  margin-left: 6%;  }
}

.margin-left-4p {  margin-left: 4%; }

.margin-left-168 {  margin-left: 168px;  }

.menu-avatar {
  height: 30px;
  margin-top: 11px;
}

td {
  .table-warning {  padding-right: 10px;  }
  &.smallwidth {  width: 6%;  }
  &.mediumwidth {  width: 14%;  }
}

.translate-width {  width: 460px;  }

.dashpadding {
  padding: 0 10px;
  position: relative;
  bottom: 5px;
}

.padding-top-11 {  padding-top: 11px;  }

.padding-right-3p {  padding-right: 3%;  }

.padding-left-4p {  padding-left: 4%;  }

.padding-left-8 {  padding-left: 8px;  }

.padding-left-13 {  padding-left: 13px;  }

.padding-top-5 {  padding-top: 5px;  }

.padding-top-8 {  padding-top: 8px;  }

.padding-top-54 {  padding-top: 54px;  }

.padding-right-10 {  padding-right: 10px;  }

.padding-right-5 {  padding-right: 5px;  }

.top-padding-20 {  padding-top: 20px;  }

.top-padding-30 {  padding-top: 30px;  }

.padding-bottom-7 {  padding-bottom: 7px;  }

.padding-bottom-20 {  padding-bottom: 20px;  }

.padding-bottom-10 {  padding-bottom: 10px;  }

.margin-bottom-8 {  margin-bottom: 8px;  }

.margin-bottom-15 {  margin-bottom: 15px;  }

.margin-top-25 {  margin-top: 25px;  }

.margin-top-15 {  margin-top: 15px;  }

.margin-top-6 {  margin-top: 6px;  }

.padding-left {  padding-left: 15px;  }

.margin-right-3p {  margin-right: 3%;  }

.padding-left-30 {  padding-left: 30px;  }

.sorting_disabled {  padding-left: 10px !important;  }

.whiteeven {
  tr:nth-child(odd) td {
    background-color: #eef1f5;
  }
  tr:nth-child(even) td {
    background-color: #fff;
  }
}

.widerfirsttd {
  tr > td:first-child {
    width: 45%;
    .width90 {
      width: 90%;
    }
  }
}

.tags {
  &.small span {
    width: 31px;
    text-align: center;
    padding: 5px 0px;
  }
  &.medium span {
    width: 65px;
    text-align: center;
    padding: 5px 0px;
  }
  &.large span {
    width: 135px;
    text-align: center;
    padding: 5px 0px;
  }
  span {
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #ccc;
    display: inline-block;
    margin-bottom: 5px;
  }
}

.no-resize {
  resize: none;
}

.uppercase {
  text-transform: uppercase;
}


.dragclass {
  td, li {
    background-color: #3A75C4 !important;
    color: #fff;
    .fa {
      color: #fff !important;
    }
  }
}


li {
  &.ui-sortable-helper {
    background-color: #3A75C4 !important;
    color: #fff;
    .fa {  color: #fff !important;  }
    a {  color: #fff; }
  }
}

.ui-sortable-handle {
  button {
    &.btn-light { margin-left: 39px; }
  }
}

.veeruseaded {
  color: #000;
  padding: 7px 16px;
  background-color: #eef1f5;
  border: 1px solid #ccc;
  border-radius: 3px;
  &:hover {
    outline: none;
  }
  .icon-table-expand {
    margin-right: 8px;
  }
}

ul.veeruseaded {
  padding: 0;
  box-shadow: none;
  margin: 0;
  margin-top: -2px;
  border-top: 0;
}

.btn-group {
  &.extra-padding {
    button {
      padding: 5px 30px;
    }
  }
}

.veerudrop {
  display: inline-block;
  position: relative;
  margin-right: 18px;
  &:last-of-type {  margin-right: 0px;  }
  &.empty {  width: 180px; height: 47px;  }
}

.veeruseaded-drop {
  display: table-cell;
  background-color: #eef1f5;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.21);
  position: absolute;
  left: -29%;
  top: 96%;
  z-index: 1;
  border: 1px solid #ccc;
  border-top: none;
  @media (min-width: 1px) {
    .form-horizontal .control-label {
      padding-top: 7px;
      margin-bottom: 0;
      text-align: right;
    }
  }
  .buttons {
    width: 100%;
    float: left;
    .btn {  padding: 6px 20px;  }
    button {  width: 100px;  }
  }
  .input-group-addon {
    background-color: white;
    border: 1px solid #ccc;
    border-right-width: 0px;
  }
  #veerulaius {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
  }
  .veeru-body {  width: 215px;  }
  .text-left {  text-align: left !important;  }
  .colorpick {
    padding: 6px;
    display: block;
    width: 100%;
    height: 34px;
    border-radius: 3px;
    text-align: center;
    &.black {  background-color: #000;  color: #fff;  }
    &.white {  background-color: #fff;  border: 1px solid #ccc;  }
  }
  .sub {
    height: 12px;
    width: 25px;
    margin: 4px 0 0;
    border-radius: 3px;
    margin-right: 4px;
    float: left;
    display: inline-block;
    &:last-child {  margin-right: 0;  }
  }
}

.kast-sub {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 18px;
  background-color: #e8f6f6;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  .sinised-ikoonid {
    width: 30%;
    display: inline-block;
    .fa {
      float: right;
      margin-right: 4px;
      &.fa-times {
        margin-right: 8px;
      }
    }
  }
  .body {
    width: 70%;
    word-break: break-all;
  }
}

.visuaal {
  &.row {
    margin-bottom: 18px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    .veerudrop, .vasakkast, .kast, .katus-frame {
      margin-right: 22px;
    }
    .veerudrop, .empty, .veeruseaded, .vasakkast, .kast {
      float: left;
    }
    .katus-frame {
      width: 335px;
      float: left;
      min-height: 130px;
      display: inline-block;
    }
  }
}

.kast {
  display: inline-block;
  min-height: 130px;
  border: 2px solid #ccc;
  border-radius: 4px;
  min-width: 155px;
  margin-right: 18px;
  &.small {
    min-height: 65px;
    width: 47%;
    margin-right: 6% !important;
    &:last-of-type {
      margin-right: 0 !important;
    }
  }
  .sinised-ikoonid {
    display: block;
    float: left;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    font-size: 15px;
    margin-bottom: 3px;
  }
  .body{
    width: 100%;
    padding: 0 5px;
    select, .form-group {
      margin-top: 5px;
      float: left;
    }
    input.form-control {
      max-width: 141px;
    }
  }
}

.vasakkast {
  display: inline-block;
  height: 130px;
  width: 180px;
  border: 2px solid #ccc;
  background-color: #eef1f5;
  margin-right: 18px;
  .body {
    display: inline-block;
    width: 72%;
    margin-top: 6px;
  }
  .sinised-ikoonid {
    padding: 12px 0 0 0px;
    float: left;
    display: inline-block;
    width: 20%;
    height: 100%;
    .icon {
      display: table;
      margin: 0 auto;
    }
  }
}

footer {
  padding: 35px;
  background-color: #e7f2f9;
  margin: 0 auto;
  .sub div{
    padding-bottom: 2px;
  }
  .hold-items {
    width: 990px;
    margin: 0 auto;
    display: table;
  }
  .logo {
    &.EP { height: 66px;  width: auto; }
    &.FI { height: 59px;  width: auto; }
  }
  &.slim {
    padding: 16px;
    .logo {
      &.EP {
        height: 66px;
        width: auto;
        padding-right: 40px;
      }
    }
    .text-padding {  padding-top: 22px;  }
  }
}

.h3padding {
  margin-top: 20px;
  margin-bottom: 10px;
  &.v2 {
    margin-top: 27px;
    margin-bottom: 9px;
  }
}

.label {
  display: inline;
  padding: 0.2em 1.6em .3em;
  font-size: 90%;
  font-weight: inherit;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-danger {  background-color: #d41337;  }

.label-warning {  background-color: #ffac33  }

.label-success {  background-color: #00bb4a;  }

.text-danger {  color: @dark-red;  }

table.dataTable .darkbottomborder th, table.dataTable .darkbottomborder td {
  padding: 10px 18px;
  border-bottom: 1px solid #ddd;
}

.width56p {
  width: 56%;
}

.width85p {
  width: 85%;
}

table.dataTable.display {
  &.no-top-border tbody td {
    border-top: none;
  }
  &.borderforsubrows {
    .even {
      border-bottom: 1px solid #eef1f5;
    }
  }
}

tbody tr td .fa {
  &.haserror {
    position: absolute;
    margin-top: 4px;
    left: 5px;
  }
}

.icon-position-fix {
  .fa {
    margin-top: 2px;
  }
}

.tooltip-close {
    position: absolute;
    right: 10px;
    font-size: 21px !important;
    top: 15px;
    cursor: pointer;
    color: #b3b3b3;
}

.tooltipster-content {
}

.warning-yellow {
  color: @warning-yellow;
  .tooltipster-content {
    .fa-warning {
      font-size: 16px;
      color: @warning-yellow;
    }
    strong {
      &.heading { padding-left: 5px; }
    }
    p { padding-top: 7px; font-size: 14px; }
    .control-buttons {
      display: table;
      margin: 0 auto;
      button:first-of-type {
        margin-right: 15px;
      }
      button { width: 95px; }
    }
  }
}

.panel-default{
  .panel-heading {
    color: inherit;
    background-color: #fff;
    border: none;
  }
}

.underlinebox {
  float: left;
  border-bottom: 1px solid #ccc;
  width: 66%;
  padding-bottom: 4px;
  &.smaller {  width: 55%;  }
}

.monthyear {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 190px;
  padding: 6px 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  .current { text-align:center; }
  a {
    position: absolute;
    &.left { left: 10px }
    &.right { right: 10px }
  }
  &.holdcenter {
    position: relative;
    left: 23%;
    top: 12px;
  }
}

.split-table {

  &.dataTable thead th,
  &.dataTable thead td,
  &.dataTable.row-border tbody th,
  &.dataTable.row-border tbody td,
  &.dataTable.display tbody th,
  &.dataTable.display tbody td {
    border: 0;
  }

}
.split-table{
  &.dataTable thead th,
  &.dataTable thead td,
  &.dataTable.row-border tbody th,
  &.dataTable.row-border tbody td,
  &.dataTable.display tbody th,
  &.dataTable.display tbody td{
    border: 0;
  }

  .separator{
    padding-right: 71px;
    position: relative;

    &:after{
      content: "";
      display: block;
      background: @waterblue;
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
      height: 100%;
    }
  }

  .separator+th,
  .separator+td{
    padding-left: 38px !important;
    position: relative;
    &:after{
      content: "";
      display: block;
      background: #fff;
      position: absolute;
      left: 0;
      top: -500px;
      width: 1000px;
      height: 999999px;
      z-index: -1;
    }
    &:before{
      content: "";
      display: block;
      background: #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: 25px;
      height: 100%;
    }
  }
}

.sidenav {
  float: left;
  width: 200px;
  .fa {  line-height: 27px;
  }
  .title {  padding: 3px 10px;  }
  &.v2 {
    width: 185px;
    a {
      padding: 10px 20px;
      text-decoration: none;
      font-size: 16px;
      word-break: break-all;
      background-color: inherit;
      border: 1px solid #dae5ec;
      color: #3A75C4;
      border-bottom: none;
      &:last-of-type {
        border-bottom: 1px solid #dae5ec;
      }
    }
  }
  a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    word-break: break-all;
    color: inherit;
    display: block;
    border-bottom: 1px solid #fff;
    background-color: #dae5ec;
    &:hover { text-decoration: underline; }
    &.active {
      background-color: #f6f8fa;
      border-left: 1px solid #dae5ec;
      margin-top: -1px;
      border-bottom: none;
      border-right: 1px solid #f6f8fa;
      position: relative;
      left: 0px;
      margin-right: -1px;
    }
  }
}

.bodywithsidepanel {
  .form-control {
    &.mediumwidth { width: 350px; }
  }
  ol {
    .form-control {
      &.smallwidth { width: 6%; display: inline-block; margin-right: 25px }
      &.largewidth { width: 91%; display: inline-block }
    }
    &.whitebackground {
      padding: 15px;
      padding-top: 7px;
      background-color: #fff;
      .spaceforicons { &.medium { padding: 0px 9px; } }
      &.normal-rows {
        li { padding: 7px 20px }
        li { &.has-sub  { border-bottom: 1px solid #eef1f5  } }
      }
      ol {
        &.narrow-rows { li { span { padding: 1px 10px; } } }
        &.sub {
          padding-left: 50px;
          li:nth-child(odd) {
            background-color: #eef1f5;
          }
          tr:nth-child(even) {
            background-color: #fff;
          }
        }
      }
    }
  }
  float: left;
  background-color: #f6f8fa;
  border: 1px solid #dae5ec;
  width: 86%;
  padding: 25px 45px;
  .align-bottom {
    button { margin-top: 8px; margin-right: 7px; &:last-of-type { margin-right: 0; } }
  }
  .fa { font-size: 16px; }
}

.sidenav-holder {
  float: left;
  width: 200px;
}

.fa-large {
  &.fa { font-size: 19px; }
}

.tablepreview {
  &.body {
    .col {
      border-right: 1px solid #D9D9D9;
      border-bottom: 1px solid #D9D9D9;
      border-top: 1px solid #D9D9D9;
      float: left;
      height: 100%;
      min-width: 78px;
      &:first-of-type {
        border: 1px solid #D9D9D9;
      }
      .top {
        float: left;
        background-color: #E7F2F9;
        height: 131px;
        min-width: 78px;
        width: 100%;
        .heading {
          padding: 8px;
          padding-top: 10px;
          float: left;
          height: 100%;
          word-break: normal;
        }
        &.roof {
          height: 78px;
          border-bottom: 1px solid #D9D9D9;
        }
      }
      .sub1, .sub2 {
        float: left;
        background-color: #E7F2F9;
        width: 50%;
        padding: 8px;
        padding-top: 10px;
        height: 52.5px;
        word-break: normal;
      }
      .sub1 {
        border-right: 1px solid #D9D9D9;
      }
      .bottom {
        float: left;
        height: 31px;
        background-color: #fff;
        width: 100%;
        border-top: 1px solid #D9D9D9;
      }
    }
  }
  &.footer {
    height: auto;
    float: left;
    margin-top: 25px;
  }
}

table.tableprev {
  tr {
    th {
      text-align: left;
      min-width: 78px;
      vertical-align: top;
      max-width: 108px;
    }
  }
}

.vertical-scroll {
  overflow-x: scroll;
}

.vertical-text-top {
  vertical-align: text-top;
}

.horizontal-scroll {
  overflow-y: scroll;
}

.modal-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    text-align: center;
  }
}

.sticky-footer {
  height: auto;
  width: 100%;
  background-color: #dae5ec;
  float: left;
  border-top: 1px solid #cdcdcd;
  border-bottom: 2px solid #cdcdcd;
  .row-padding {
    padding: 10px 0 10px 15%;
    .margin-right {
      margin-right: 10%;
    }
    .even-spacing {
      button, .tworowtext {  margin-right: 10px;  }
      .tworowtext {
        display: inline-block;
        vertical-align: middle;
        p {margin-bottom: 0; line-height:1;}
      }
    }
  }
  .strong {
    font-weight: 500;
  }
  &.sticked {
    position: fixed;
    bottom: 0;
    z-index: 1;
    left: 0;
    &.maxwidth { max-width: 1230px; left: inherit; }
  }
}

.sticky-footer-2 {
  height: auto;
  width: 100%;
  background-color: transparent;
  float: left;
  border-top: none;
  border-bottom: none;
  .strong {
    font-weight: 500;
  }
  &.sticked {
    .row-padding {
      padding: 10px 25px;
    }
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #dae5ec;
    border-top: 1px solid #cdcdcd;
    border-bottom: 2px solid #cdcdcd;
    left: inherit;
  }
}

i.icon-circle-o:before {
  margin-left: 0;
  margin-right: -2px;
}

input[type="checkbox"] {
  &.margin-right {
    margin-right: 5px;
  }
}

.bordered-row {
  &.no-border {  border-top: none; border-bottom: none;  }
  float: left;
  width: 100%;
  background-color: inherit;
  border-bottom: 1px solid #e6e6e6;
  padding: 7px 0;
  &.pink {  background-color: @soft-pink;  }
  &:first-of-type {
    border-top: 1px solid #e6e6e6;
  }
}

.label-holder {
  min-width: 120px;
  float: left;
  text-align: center;
  &.smaller {
    min-width: 105px;
    .label {
      display: block;
      width: 94px;
      padding: 0.2em 0em .3em;
    }
  }
  .label {
    display: block;
    width: 110px;
  }
}

.full-bg-wrap {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 100px 0;
  color: #2B2E66;
  min-height: 712px;
  h1:first-of-type {
    margin-bottom: 45px;
    font-size: 33px;
  }
  .alert:first-of-type {
    padding: 10px 5px;
  }
  .more-options {
    width: 852px;
    margin: 0 auto;
    position: relative;
    .inner {
      position: absolute;
      top: 420px;
      left: 0;
      .other {
        padding: 15px 32px;
        background-color: #fff;
        border-radius: 4px;
        button {
          border: none;
          margin-right: 21px;
          padding: 6px 20px;
          &.orange {
            background-color: #ef6d06;
            border-bottom: 4px solid #bc3a00;
          }
          &.light-green {
            background-color: #60cd18;
            border-bottom: 4px solid #2d9a00;
          }
          &.dark-green {
            background-color: #4d9e00;
            border-bottom: 4px solid #1a6b00;
          }
          &.blue {
            background-color: #0061a0;
            border-bottom: 4px solid #002e6e;
          }
          &.dark-blue {
            background-color: #03426a;
            border-bottom: 4px solid #00001e;
          }
        }
        button:last-of-type {
          margin-right: 0;
        }
      }
    }
    h3:first-of-type {
      font-size: 23px;
      line-height: 1.6;
    }
  }
  footer {
    height: 100px;
  }
  .gray-text {
    color: #666;
  }
  .load-icon {
    font-size: 20px;
    vertical-align: bottom;
    padding-left: 6px;
    &.orange {  color: #FF900B;  }
    &.green {  color: #00BB4A;  }
    &.red {  color: #ED2C50;  }
  }
  .center-container {
    margin:0;
    height:100%;
    .center-img {
      height:100%;
      background-size:cover;
      background-position: center;
    }
  }
}

.baseline {
  vertical-align: baseline;
}

.mini-panel-holder {
  margin: 0 auto;
  float: none;
  width: 740px;
}

.circle-bg {
  background-color: #fff;
  border-radius: 100px;
  height: 36px;
  text-align: center;
  width: 36px;
  display: inline-block;
  .fa {  font-size: 23px;  }
}

.mini-panel {
  background-color: #fff;
  width: 350px;
  text-align: center;
  height: 160px;
  border-radius: 4px;
  .heading {  font-size: 20px;  padding: 15px 0px 14px 0px;  }
  .secondary {  padding-bottom: 15px;  }
  .form-control {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: -4px;
  }
  button {
    font-weight: 700;
    padding: 2px 20px;
    .icon { font-size: 19px }
    .button-text {
      display: inline-block;
      position: relative;
      top: -1px;
    }
  }
}
