
.icon-table-expand:before { content: '\e800'; } /* '' */
.icon-table-expanded:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-circle-o:before { content: '\e803'; } /* '' */
.icon-exclamation-square:before { content: '\e804'; } /* '' */
.icon-arrow-left:before { content: '\e805'; } /* '' */
.icon-id-logo:before { content: '\e806'; } /* '' */