.tooltipster-sidetip.tooltipster-borderless .tooltipster-box {
  border: none;
  background: #1b1b1b;
  background: rgba(10, 10, 10, 0.9);
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-box {
  margin-top: 8px;
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-box {
  margin-right: 8px;
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-box {
  margin-left: 8px;
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-box {
  margin-bottom: 8px;
}
.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow {
  height: 8px;
  margin-left: -8px;
  width: 16px;
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow {
  height: 16px;
  margin-left: 0;
  margin-top: -8px;
  width: 8px;
}
.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-background {
  display: none;
}
.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-border {
  border: 8px solid transparent;
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #1b1b1b;
  border-bottom-color: rgba(10, 10, 10, 0.9);
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow-border {
  border-left-color: #1b1b1b;
  border-left-color: rgba(10, 10, 10, 0.9);
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-border {
  border-right-color: #1b1b1b;
  border-right-color: rgba(10, 10, 10, 0.9);
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #1b1b1b;
  border-top-color: rgba(10, 10, 10, 0.9);
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: -8px;
}
.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-uncropped {
  left: -8px;
}
/* This is how you would create a custom secondary theme on top of tooltipster-noir: */
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-arrow .tooltipster-arrow-uncropped {
  top: -11px;
}
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-border {
  border-bottom-color: #ccc;
}
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-background {
  border-bottom-color: #fff;
}
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
  background: #fff;
  border: 1.3px solid #ccc;
  border-radius: 2px;
}
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box .tooltip-close {
  color: #3686af;
  font-size: 18px !important;
}
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
  color: inherit;
  padding: 14px 14px;
}
.tooltipster-sidetip.tooltipster-default.tooltipster-lightblue .tooltipster-arrow .tooltipster-arrow-uncropped {
  top: -11px;
}
.tooltipster-sidetip.tooltipster-default.tooltipster-lightblue .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-border {
  border-bottom-color: #3686af;
}
.tooltipster-sidetip.tooltipster-default.tooltipster-lightblue .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-background {
  border-bottom-color: #e3f6ff;
  top: 2px;
}
.tooltipster-sidetip.tooltipster-default.tooltipster-lightblue .tooltipster-box {
  background: #e3f6ff;
  border: 1px solid #3686af;
  border-radius: 4px;
  padding: 5px 20px 10px 2px;
}
.tooltipster-sidetip.tooltipster-default.tooltipster-lightblue .tooltipster-box .tooltip-close {
  color: #3686af;
  font-size: 18px !important;
}
.tooltipster-sidetip.tooltipster-default.tooltipster-lightblue .tooltipster-content {
  padding: 10px 25px;
  color: inherit;
}
.tooltipster-sidetip.tooltipster-default.warning-yellow .tooltipster-arrow .tooltipster-arrow-uncropped {
  top: -11px;
}
.tooltipster-sidetip.tooltipster-default.warning-yellow .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-border {
  border-bottom-color: #fbe51a;
}
.tooltipster-sidetip.tooltipster-default.warning-yellow .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-background {
  border-bottom-color: #ffffe0;
  top: 2px;
}
.tooltipster-sidetip.tooltipster-default.warning-yellow .tooltipster-box {
  background: #ffffe0;
  border: 1px solid #fbe51a;
  border-radius: 4px;
}
.tooltipster-sidetip.tooltipster-default.warning-yellow .tooltipster-content {
  padding: 15px 20px;
  color: #000;
  max-width: 500px;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom .tooltipster-arrow .tooltipster-arrow-uncropped {
  top: -11px;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-border {
  border-bottom-color: #CCC;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-background {
  border-bottom-color: #fff;
  top: 2px;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom .tooltipster-box {
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.23);
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom .tooltipster-content {
  padding: 10px 31px 10px 15px;
  color: inherit;
  word-wrap: break-word;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom.lesspadding .tooltipster-arrow .tooltipster-arrow-uncropped {
  top: -11px;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom.lesspadding .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-border {
  border-bottom-color: #CCC;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom.lesspadding .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-background {
  border-bottom-color: #fff;
  top: 2px;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom.lesspadding .tooltipster-box {
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.23);
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom.lesspadding .tooltipster-content {
  padding: 0px 15px;
  color: inherit;
  word-wrap: break-word;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom.width700 .tooltipster-arrow .tooltipster-arrow-uncropped {
  top: -11px;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom.width700 .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-border {
  border-bottom-color: #CCC;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom.width700 .tooltipster-arrow .tooltipster-arrow-uncropped .tooltipster-arrow-background {
  border-bottom-color: #fff;
  top: 2px;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom.width700 .tooltipster-box {
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.23);
  max-width: 700px;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-lightcustom.width700 .tooltipster-content {
  padding: 10px 31px 10px 15px;
  color: inherit;
  word-wrap: break-word;
}
